.navigation {
    display: flex;
    justify-content: space-between;
    margin: 12px 8px;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #EEEE;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.active {
    background-color: #E09F3E;
}